* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

}

.container {
  padding: 0 150px;
}

.header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.header-title {
  font-size: 3rem;
}

.header > div {
  display: flex;
  gap: 200px;
}

.cart-btn {
  display: flex;
  gap: 3px;
  width: 40px;
  justify-content: flex-end;
}

.landing, .shop, .cart {
  padding-top: 100px;
}

.shop {
  display: flex;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  padding-bottom: 40px;
}

.item-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 80px;
  padding-left: 120px;
}

.item > img {
  width: 200px;
  height: 200px;
}